main > .container {
    width: 100%;
    padding: 60px 15px 0;
}

.progress {
    margin: 5px 0 0 -1px;
}

.form-check {
    margin-bottom: 20px;
}

.single-question {
    padding: 60px 15px 0;
}

.question {
    border: 3px solid gray;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.answer {
    border: 3px solid gray;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.avatar-question {
    padding: 10px;
    width: 150px;
    height: 150px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}
