{% extends "inc/base.html" %}
{% load static %}

{% block content %}
    <h2 class="mt-5">Ask question</h2>
    <form>
        <div class="mb-3">
            <label for="questionTitle" class="form-label">Question title</label>
            <input type="text" class="form-control" id="questionTitle">
        </div>
        <div class="mb-3">
            <label for="questionText" class="form-label">Question</label>
            <textarea type="text" class="form-control" id="questionText"></textarea>
        </div>
        <div class="mb-3">
            <label for="questionTags" class="form-label">Tags</label>
            <input type="text" class="form-control" id="questionTags">
        </div>
        <button type="submit" class="btn btn-primary">Submit question</button>
    </form>
{% endblock %}