{% extends "inc/base.html" %}
{% load static %}

{% block content %}
     <h2 class="mt-5">Question</h2>
    {% include "inc/question.html" %}

    <hr class="my-4">
    <h2 class="mt-5">Answers</h2>

        {% include "inc/answer.html" %}

{% endblock %}

{% block side_panel %}
    <h2 class="mt-5">
        Tags
    </h2>
    <h6>bebra</h6>
    <h6>gaming</h6>
    <h6>videogames</h6>
    <h6>advice</h6>
{% endblock %}

{% block pagination %}
    {% include "inc/pagination.html"%}
{% endblock %}
